<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>The Daily Inquirer</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/fonts.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        {% block content %} {% endblock %}
        <div class="row justify-content-between">
            <div class="col">
                <p><!--<a href="/about/" class="footer-link">About</a>--><a href="/terms/" class="footer-link">Terms</a><a href="/privacy/" class="footer-link">Privacy</a></p>
            </div>
<!--        <div class="col text-right">
                <p><a href="#">mack.cloud</a></p>
            </div>
-->
        </div>
    </div>
    <script src="/static/js/hack.js"></script>
</body>

</html>