{% extends "core/base.html" %} {% block content %}
<div class="row justify-content-center mb-0">
    <h2 class="typewriter bold"><a href="/" class="chip">The Daily Inquirer</a></h2>
</div>
<div class="row bottom-border justify-content-center mt-0" style="padding-bottom: 6px;">
    <p class="mb-0"><a href="/settings/">{{ user.email }}</a></p>
</div>
{% if entries|length > 0 %} {% for entry in entries %}
<div class="row justify-content-center main">
    <div class="col">
        <h3 class="typewriter">{{ entry.prompt.question }}</h3>
        <p>{{ entry.pub_date|date:"M d" }}<em> {{ entry.prompt.category }}</em></p>
        <p> {{ entry.content|linebreaks }} </p>
    </div>
</div>
{% endfor %} {% else %}
<div class="row justify-content-center">
    <div class="col text-center">
        <h3>No entries yet!</h3>
        <p>When you reply to an email, your responses will appear here.</p>
    </div>
</div>
{% endif %}
<div class="row bottom-border">
</div>
{% endblock %}