{% extends "core/base.html" %} {% block content %}
<div class="row justify-content-center bottom-border mb-3">
    <h2 class="typewriter bold"><a href="/" class="chip">The Daily Inquirer</a></h2>
</div>
<div class="row justify-content-center bottom-border">
    <div class="col-sm-6">
        {% if form.errors %} {% for field in form %} {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %} {% endfor %} {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %} {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" name="email" maxlength="254" required="" id="id_email">
            </div>
            <input type="submit" class="btn btn-primary btn-block mb-3" value="Reset password" />
        </form>
    </div>
</div>
{% endblock %}