body {
    font-family: 'Open Sans', sans-serif;
}

/* xs */
@media (min-width: 0px) {
    .step {
        padding: 20%;
    }
}

/* sm */
@media (min-width: 576px) {
    .step {
        padding: 4%;
    }
}

/* md */
@media (min-width: 768px) {
    .step {
        padding: 2%;
    }
}

/* lg */
/*@media (min-width: 992px) {
    .step {
        padding: 2%;
    }
}*/

/* xl */
/*@media (min-width: 1200px) {
    .step {
        padding: 2%;
    }
}*/

.btn-primary {
    background-color: firebrick;
    border-color: firebrick;
}

.btn-primary:hover {
    background-color: #801919;
    border-color: #801919;
}

a {
    color: firebrick;
}

a:hover {
    color: #801919
}

p {
	font-size: 0.85em;
}

.chip, .chip:hover {
    color: inherit;
    text-decoration: inherit;
}

.footer-link {
    margin-left: 4px;
    margin-right: 4px;
}

.typewriter {
	font-family: 'TypoSlab Irregular Demo', sans-serif;
}

button:hover, .btn:hover {
    cursor: pointer;
}

.dotted {
    border-bottom: 1px solid firebrick;
}

.dotted:hover {
    border-bottom: 1px solid #801919;
}

.bottom-border {
	border-bottom: 1px solid #ebebeb;
}

.dotted:hover {
	text-decoration: none;
}

.vcenter {
    display: flex;
    align-items: center;
}

.steps img {
	height: 72px;
}

.steps p {
	margin-top: 16px;
}

.row {
	margin-bottom: 12px;
	margin-top: 12px;
}
