<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>The Daily Inquirer</title>
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
    <link rel="preload" href="/static/font/ElmsSans-latin.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/font/SpecialElite-latin.woff2" as="font" type="font/woff2" crossorigin>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/fonts.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
    <link href="/static/css/tokens.css" rel="stylesheet">
    <link href="/static/css/footer.css" rel="stylesheet">
    <link href="/static/css/sitenav.css" rel="stylesheet">
    {% block extra_head %}{% endblock %}
</head>

<body>
    <div class="container site-main">
        {% block content %} {% endblock %}
    </div>
    {% include "core/_footer.html" %}
    <script src="/static/js/hack.js"></script>
</body>

</html>