body {
    font-family: 'Avenir Next', sans-serif;
}


/* xs */
@media (min-width: 0px) {
    .step {
        padding: 20%;
    }
}

/* sm */
@media (min-width: 576px) {
    .step {
        padding: 4%;
    }
}

/* md */
@media (min-width: 768px) {
    .step {
        padding: 2%;
    }
}

/* lg */
@media (min-width: 992px) {
    .step {
        padding: 2%;
    }
}

/* xl */
@media (min-width: 1200px) {
    .step {
        padding: 2%;
    }
}

.step img {
	width: 50%;
	height: auto;
}



.circle {
	border-radius: 50%;
    background: #F5F5F5;
    width: 100%;
    padding-bottom: 100%;
}