 {% extends "core/base.html" %} {% block content %}
<div class="row justify-content-center bottom-border mb-3">
    <h2 class="typewriter bold"><a href="/" class="chip">The Daily Inquirer</a></h2>
</div>
<div class="row justify-content-center bottom-border">
    <div class="col-sm-6">
        <h3>Confirmation email sent!</h3>
        <p>A confirmation email has been sent to {{ email }}. If you did not get this email we can <a href="/resend_confirmation/">resend it.</a>
    </div>
</div>
{% endblock %}