{% extends "core/base.html" %} {% block content %}
<div class="row justify-content-center bottom-border ">
    <h2 class="typewriter bold"><a href="/" class="chip">The Daily Inquirer</a></h2>
</div>
<div class="row justify-content-center ">
    <div class="col-sm-6">
        <p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>
    </div>
</div>
<div class="row justify-content-center bottom-border">
    <div class="col-sm-6">
        <a href="/login/" class="btn btn-primary btn-block mb-3">Log In</a>
    </div>
</div>
{% endblock %}