{% extends "core/base.html" %} {% block content %}
<div class="row">
    <div class="mx-auto col-6">
        <h2>Reset password</h2>
        <form action="" method="post">
            {% csrf_token %} {% if form.email.errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.email.errors }}
            </div>
            {% endif %}
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" name="email" maxlength="254" required="" id="id_email">
            </div>
            <input type="submit" class="btn btn-default btn-block" value="Reset password" />
        </form>
    </div>
</div>
{% endblock %}