 {% extends "core/base.html" %} {% block content %}
<div class="container">
    <div class="row justify-content-center bottom-border mb-3">
        <h2 class="typewriter bold"><a href="/" class="chip">The Daily Inquirer</a></h2>
    </div>
    <div class="row justify-content-center bottom-border">
        <div class="col-sm-8">
            <h3>Your email has not yet been confirmed!</h3>
            <p> You must confirm your email before continuing. If you did not receive an email you can <a href="/resend_confirmation/">resend it.</a></p>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col">
            <p>&copy; Mack Hasz 2017 </p>
        </div>
        <div class="col text-right">
            <p><a href="#" class="footer-link">About</a><a href="#" class="footer-link">Terms</a><a href="#" class="footer-link">Privacy</a></p>
        </div>
    </div>
</div>
{% endblock %}