<a href="{{ manage_url }}" style="color:#8a8a8a; text-decoration:none;">Manage notifications</a>
<span style="color:#cbc6b8;">&nbsp;&middot;&nbsp;</span>
<a href="{{ unsubscribe_url }}" style="color:#8a8a8a; text-decoration:none;">Unsubscribe</a>
<div style="padding-top:6px; font-size:10px; color:#aba799;">
    <a href="https://www.dailyinquirer.me/terms/" style="color:#aba799; text-decoration:none;">Terms</a>
    <span style="color:#cbc6b8;">&nbsp;&middot;&nbsp;</span>
    <a href="https://www.dailyinquirer.me/privacy/" style="color:#aba799; text-decoration:none;">Privacy</a>
</div>
